* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: rgb(255,236,210);
  background: linear-gradient(90deg, rgba(255,236,210,1) 0%, rgba(252,182,159,1) 35%);
  font-family: 'Lato', sans-serif;
}
input {
  background-color: inherit ;
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
  width: 70%;
  height: 40px;
  border: 0;
  border-bottom: .3px solid rgba(0.5, 0.5, 0.5, 0.5);
  margin-top: 10px;
}

i {
  color: #6E5B7E;
}
.container {
  text-align: center;
  margin: 0 auto;
}

.list-none {
  list-style: none;
}

li::before {content: "•"; color: #C06C86;
  display: inline-block; width: 1em;
  margin-left: -1em}

  #input-insert {
    color: #F2727F;
    margin-bottom: 40px;
  }
  #input-insert::-webkit-input-placeholder {
    color: #F2727F;
  }

  .input-items {
    color: #315D7F;
  }

  #btn-submit {
    font-size: 30px;
  }

  .btn-modify {
    margin-right: 10px;
  }
